[submodule "ActionBarSherlock"]
	path = ActionBarSherlock
	url = git@github.com:brightec/ActionBarSherlock.git
[submodule "android-mapviewballoons"]
	path = android-mapviewballoons
	url = git@github.com:brightec/android-mapviewballoons.git
